/*
  Site container
*/

.container {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
}
.container a {
  text-decoration: underline;
}
.content-wrapper {
  padding-top: $header-thickness+10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: $container-width - 400px;
  background-color: white;
  border-radius: 10px;
}
.content-wrapper h1 {
  margin: 20px 0px 5px;
}
.content-wrapper external{
  max-width: 800px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 25px #000;
  background-color: white;
}

@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .content-wrapper {
    padding-top: $header-thickness+10px;
    margin: auto;
    display: block;
    width: 95vw;
  }
}
